<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.edit') $winWorkUtil.camelCaseToReadable($modelName, true)</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>

        #parse("vita/common/header.vm")
        #include("vita/common/leftMenu.html")
        <form action="${web.context}/$modelName/edit" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" name="editForm" role="form">
            <input type="hidden" name="id" value="$displayTool.alt($model.id, '')" />
            <fieldset>
                <legend>
                    $winWorkUtil.camelCaseToReadable($modelName, true) $winWorkUtil.getLabel($loginUser.displayLang, 'global.edit')
                </legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">$winWorkUtil.getLabel($loginUser.displayLang, 'appRole.name')</label>
                    <div class="col-sm-6">
                        <input type="text" id="name" name="name" class="form-control" readonly="readonly" value="$displayTool.alt($model.name, '')" />
                        <span class="help-inline">$displayTool.alt($errorMessage.name, '')</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">$winWorkUtil.getLabel($loginUser.displayLang, 'appRole.description')</label>
                    <div class="col-sm-6">
                        <textarea rows="3" class="form-control" name="description" id="description">$displayTool.alt($model.description, '')</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        #foreach($appPermission in $appPermissionList)
                        <div class="checkbox">
                            $displayTool.alt($appPermission.tab, '')
                            <input type="checkbox" name="appPermission_$appPermission.id"
                                #foreach($permission in $model.appPermissionList)
                                    #if ($appPermission.id == $permission.id)
                                        checked="checked"
                                    #end
                                #end
                            /> $appPermission.name [$appPermission.httpPath - $appPermission.httpMethod]
                        </div>
                        #end
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    #parse("vita/common/button_submit_form.vm")
                </div>
            </fieldset>
        </form>
        #include("vita/common/footer.html")
        <script type="text/javascript">
            setModel('$modelName');
            setContextUrl('${web.context}');
            doSearch();
        </script>
    </body>
</html>