<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.create') $winWorkUtil.camelCaseToReadable($modelName, true)</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        <div id="container-fluid">
            #parse("vita/common/header.vm")

            <!-- BODY START -->
            <div class="row-fluid">
                #include("vita/common/leftMenu.html")
                <div class="span10">
                    <form action="${web.context}/$modelName/create" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" name="createForm">
                        <fieldset>
                            <legend>
                                $winWorkUtil.camelCaseToReadable($modelName, true) $winWorkUtil.getLabel($loginUser.displayLang, 'global.create')
                            </legend>
                            <div class="control-group">
                                <label class="control-label" for="name">$winWorkUtil.getLabel($loginUser.displayLang, 'appRole.name')</label>
                                <div class="controls">
                                    <input type="text" id="name" name="name" class="input-xlarge" value="$displayTool.alt($model.name, '')" />
                                    <span class="help-inline">$displayTool.alt($errorMessage.name, '')</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description">$winWorkUtil.getLabel($loginUser.displayLang, 'appRole.description')</label>
                                <div class="controls">
                                    <textarea rows="3" name="description" id="description">$displayTool.alt($model.description, '')</textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    #foreach($appPermission in $appPermissionList)
                                        $displayTool.alt($appPermission.tab, '')
                                        <input type="checkbox" name="appPermission_$appPermission.id"
                                        #foreach($permission in $model.appPermissionList)
                                            #if ($appPermission.id == $permission.id)
                                                checked="checked"
                                            #end
                                        #end
                                        /> $appPermission.name [$appPermission.httpPath - $appPermission.httpMethod]
                                        <br />
                                    #end
                                </div>
                            </div>
                            <div class="controls">
                                #parse("vita/common/button_submit_form.vm")
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- CONTENT END -->

            </div>
            #include("vita/common/footer.html")
            <script type="text/javascript">
                setModel('$modelName');
                setContextUrl('${web.context}');
                doSearch();
            </script>
        </div>
    </body>
</html>