#parse("vita/common/fourButtonPagination.vm")
<div class="table-responsive">
    <table class="table table-bordered table-condensed listTable-blue">
        <thead>
        <tr>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'list.no')</th>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.code')</th>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.stringValue')</th>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.settingCategory')</th>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.description')</th>
            <th>$winWorkUtil.getLabel($loginUser.displayLang, 'global.action')</th>
        </tr>
        </thead>
        <tbody>
        #set ($index = 1)
        #set ($pageMark = ($pagingModel.currentPage * $pageSize) - $pageSize)

        #foreach($model in $list)
        #set ($counter = $pageMark + $index)
        <tr>
            <td>$counter</td>
            <td>$displayTool.alt($model.code, '&nbsp;')</td>
            <td>$displayTool.alt($model.stringValue, '&nbsp;')</td>
            <td>$displayTool.alt($model.settingCategory, '&nbsp;')</td>
            <td>$displayTool.alt($model.description, '&nbsp;')</td>
            <td>
                <a href="${web.context}$modelName/edit?id=$model.id">
                    $winWorkUtil.getLabel($loginUser.displayLang, 'global.edit')
                </a>
                &nbsp;
                <a href="#" onclick="deleteConfirmation('$model.id')">
                    $winWorkUtil.getLabel($loginUser.displayLang, 'global.delete')
                </a>
            </td>
        </tr>
        #set ($index = $index + 1)
        #end
        </tbody>
    </table>
</div>