<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.create') $winWorkUtil.camelCaseToReadable($modelName, true)</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        <div id="container-fluid">
            #parse("vita/common/header.vm")

            <!-- BODY START -->
            <div class="row-fluid">
                #include("vita/common/leftMenu.html")
                <div class="span10">
                    <form action="${web.context}/$modelName/create" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" name="createForm">
                        <fieldset>
                            <legend>
                                $winWorkUtil.camelCaseToReadable($modelName, true) $winWorkUtil.getLabel($loginUser.displayLang, 'global.create')
                            </legend>
                            <div class="control-group">
                                <label class="control-label" for="code">$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.code')</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" id="code" name="code" value="$displayTool.alt($model.code, '')" />
                                    <span class="help-inline">$displayTool.alt($errorMessage.code, '')</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="stringValue">$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.stringValue')</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" id="stringValue" name="stringValue" value="$displayTool.alt($model.stringValue, '')" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="settingCategory">$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.settingCategory')</label>
                                <div class="controls">
                                    <input class="input-xlarge" type="text" id="settingCategory" name="settingCategory" value="$displayTool.alt($model.settingCategory, '')" />
                                </div>
                            </div>
                             <div class="control-group">
                                <label class="control-label" for="description">$winWorkUtil.getLabel($loginUser.displayLang, 'appSetting.description')</label>
                                <div class="controls">
                                    <textarea rows="5" id="description" name="description">$displayTool.alt($model.description, '')</textarea>
                                </div>
                            </div>
                            <div class="controls">
                                #parse("vita/common/button_submit_form.vm")
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- CONTENT END -->

            </div>
            #include("vita/common/footer.html")
            <script type="text/javascript">
                setModel('$modelName');
                setContextUrl('${web.context}');
                doSearch();
            </script>
        </div>
    </body>
</html>