<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">${test.database.driver}</property>
        <property name="hibernate.connection.url">${test.database.url}</property>
        <property name="hibernate.connection.username">${test.database.username}</property>
        <property name="hibernate.connection.password">${test.database.password}</property>

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.minPoolSize">5</property>
        <property name="hibernate.c3p0.maxPoolSize">50</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">5</property>
        <property name="hibernate.c3p0.autoCommitOnClose">false</property>
        <property name="hibernate.c3p0.maxIdleTime">300</property>
        <property name="hibernate.c3p0.initialPoolSize">10</property>
        <property name="hibernate.c3p0.acquireIncrement">10</property>

        <property name="hibernate.dialect">${test.database.dialect}</property>

        <!-- Cache configuration-->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <property name="hibernate.show_sql">${test.database.showSql}</property>
        <property name="hibernate.format_sql">${test.database.showSql}</property>

        <mapping resource="hbm/AppSetting.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
