<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="database.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <setting name="logPrefix" value="MyBatisLog"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <!-- SHARED CLASSES -->
        <typeAlias alias="SearchParameter" type="com.irwin13.winwork.basic.model.SearchParameter"/>

        <!-- APP -->
        <typeAlias alias="AppSetting" type="com.irwin13.winwork.basic.model.entity.app.AppSetting"/>
    </typeAliases>

    <environments default="local">
        <environment id="local">
            <transactionManager type="JDBC"/>
            <!--
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
            -->

            <dataSource type="com.irwin13.winwork.mybatis.TomcatDataSource">
                <property name="tomcat.connectionPool.url" value="${url}" />
                <property name="tomcat.connectionPool.driver" value="${driver}" />
                <property name="tomcat.connectionPool.username" value="${username}" />
                <property name="tomcat.connectionPool.password" value="${password}" />

                <property name="tomcat.connectionPool.validationQuery" value="SELECT 1 FROM DUAL" />

                <property name="tomcat.connectionPool.testOnBorrow" value="true" />
                <property name="tomcat.connectionPool.jmxEnabled" value="false" />
                <property name="tomcat.connectionPool.testWhileIdle" value="false" />
                <property name="tomcat.connectionPool.testOnReturn" value="false" />

                <property name="tomcat.connectionPool.initialSize" value="10" />
                <property name="tomcat.connectionPool.maxActive" value="100" />
                <property name="tomcat.connectionPool.maxIdle" value="7" />
                <property name="tomcat.connectionPool.minIdle" value="3" />

                <property name="tomcat.connectionPool.minEvictableIdleTimeMillis" value="10000" />

                <property name="tomcat.connectionPool.validationInterval" value="30000" />
                <property name="tomcat.connectionPool.timeBetweenEvictionRunsMillis" value="5000" />

                <property name="tomcat.connectionPool.maxWait" value="5000" />

                <property name="tomcat.connectionPool.logAbandoned" value="false" />
                <property name="tomcat.connectionPool.removeAbandoned" value="true" />
                <property name="tomcat.connectionPool.removeAbandonedTimeout" value="60" />

                <property name="tomcat.connectionPool.jdbcInterceptors" value="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer" />
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="Oracle" value="oracle" />
    </databaseIdProvider>

    <mappers>
        <mapper resource="sqlmap/AppSetting.map.xml"/>
    </mappers>
</configuration>