<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - $winWorkUtil.getLabel($loginUser.displayLang, 'global.changePassword')</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        <div id="container-fluid">
            #parse("vita/common/header.vm")

            <!-- BODY START -->
            <div class="row-fluid">
                #include("vita/common/leftMenu.html")
                <div class="span10">
                    <form action="${web.context}/changePassword" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal" name="changePasswordForm">
                        <fieldset>
                            <legend>
                                $winWorkUtil.getLabel($loginUser.displayLang, 'global.changePassword')
                            </legend>
                            <div class="control-group">
                                <label class="control-label" for="currentPassword">$winWorkUtil.getLabel($loginUser.displayLang, 'changePassword.currentPassword')</label>
                                <div class="controls">
                                    <input type="password" id="currentPassword" name="currentPassword" />
                                    <span class="help-inline" id="currentPasswordMessage"><p style="color:red">$displayTool.alt($errorMessage, '')</p></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="newPassword">$winWorkUtil.getLabel($loginUser.displayLang, 'changePassword.newPassword')</label>
                                <div class="controls">
                                    <input type="password" id="newPassword" name="newPassword" />
                                    <span class="help-inline" id="newPasswordMessage"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="confirmNewPassword">$winWorkUtil.getLabel($loginUser.displayLang, 'changePassword.confirmNewPassword')</label>
                                <div class="controls">
                                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" />
                                    <span class="help-inline" id="confirmNewPasswordMessage"></span>
                                </div>
                            </div>                            
                            <div class="controls">
                                <a href="${web.context}" class="btn">$winWorkUtil.getLabel($loginUser.displayLang, 'global.cancel')</a>
                                <button type="button" class="btn btn-info" onclick="return doSaveChangePassword();" data-loading-text="Loading...">$winWorkUtil.getLabel($loginUser.displayLang, 'global.save')</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            <!-- CONTENT END -->
            </div>
            #include("vita/common/footer.html")
            <script type="text/javascript">
                setContextUrl('${web.context}');

                function doSaveChangePassword() {
                    var cleanError = true;
                    $("#currentPasswordMessage").html("");
                    $("#newPasswordMessage").html("");
                    $("#confirmNewMessage").html("");
                    
                    var currentPassword = $('#currentPassword').val();
                    var newPassword = $('#newPassword').val();
                    var confirmNewPassword = $('#confirmNewPassword').val();

                    if (currentPassword == null || currentPassword == "") {
                        $("#currentPasswordMessage").html("<p style='color:red'>Current Password empty</p>");
                        cleanError = false;
                    }

                    var newNotEmpty = true;
                    if (newPassword == null || newPassword == "") {
                        $("#newPasswordMessage").html("<p style='color:red'>New Password empty</p>");
                        cleanError = false;
                        newNotEmpty = false;
                    }

                    if (confirmNewPassword == null || confirmNewPassword == "") {
                        $("#confirmNewPasswordMessage").html("<p style='color:red'>Confirm New Password empty</p>");
                        cleanError = false;
                        newNotEmpty = false;
                    }

                    if (newPassword != confirmNewPassword && newNotEmpty) {
                        $("#confirmNewPasswordMessage").html("<p style='color:red'>Confirm New Password did not match with New Password</p>");
                        cleanError = false;
                    }

                    if (cleanError) {
                        document.forms.changePasswordForm.submit();
                    }
                }                
            </script>
        </div>
    </body>
</html>