<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - Main Page</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        #parse("vita/common/header.vm")
        #include("vita/common/leftMenu.html")
        <h1 class="page-header">Dashboard</h1>
        <div class="row">
            Welcome $loginUser.firstName $loginUser.lastName
        </div>
        #include("vita/common/footer.html")
    </body>
</html>