<!DOCTYPE html>
<html>
    <head>
        <title>${pom.name} ${pom.version} - Main Page</title>
        #include("vita/common/common_head_tag.html")
    </head>
    <body>
        <div id="container-fluid">
            #parse("vita/common/header.vm")
            <!-- BODY START -->
            <div class="row-fluid">
                <h3>Sorry, you don't have access to this page, please go back to <a href="${web.context}">HOME</a></h3>
            </div>
            #include("vita/common/footer.html")
        </div>
    </body>
</html>