#if ($list.size() > 0)
<div>
    <ul class="pagination">
    	<li>
            <a href="#">
                $winWorkUtil.getLabel($loginUser.displayLang, 'list.page') $pagingModel.currentPage
            </a>
        </li>
        <li #if ($pagingModel.start < $pageSize) class="disabled" #end>
	        #if ($pagingModel.start < $pageSize)
	        <a>
	            <i class="icon-arrow-left"></i> $winWorkUtil.getLabel($loginUser.displayLang, 'list.previous')
	        </a>
	        #else
	        <a href="#" onclick="doChangePage($pagingModel.previous)">
	            <i class="icon-arrow-left"></i> $winWorkUtil.getLabel($loginUser.displayLang, 'list.previous')
	        </a>
	        #end
	    </li>
	    <li #if ($list.size() == 0 || $list.size() < $pageSize) class="disabled" #end>
	    	#if ($list.size() == 0 || $list.size() < $pageSize)
		    <a>
		        $winWorkUtil.getLabel($loginUser.displayLang, 'list.next') <i class="icon-arrow-right"></i>
		    </a>
		    #else
		    <a href="#" onclick="doChangePage($pagingModel.next)">
		        $winWorkUtil.getLabel($loginUser.displayLang, 'list.next') <i class="icon-arrow-right"></i>
		    </a>
		    #end
    	</li>
    </ul>
</div>
#else
<h3>
    <strong>
        $winWorkUtil.getLabel($loginUser.displayLang, 'list.noRecordFound')
    </strong>
</h3>
#end